{% extends 'base.html.twig' %}

{% import "includes/_card.html.twig" as card %}

{% block title %}Edit Score{% endblock %}

{% macro getCardContent(form, score) %}
    {{ component('Library:ScoreForm', {'form': form, 'action': "update"}) }}
    {{ include('library/score/_delete_form.html.twig', {'score': score}) }}
{% endmacro %}

{% block body %}
    <div class="flex justify-center">
        {{ include('includes/_card.html.twig', {
            'card_title': card.getTitle('library.edit.title'),
            'card_content': _self.getCardContent(form, score)
        })}}
    </div>
{% endblock %}
